<%= form_for(@representative) do |f| %>
  <% if @representative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@representative.errors.count, "error") %> prohibited this representative from being saved:</h2>

      <ul>
      <% @representative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Individual Representative</legend>
      <%= f.label :first_name, 'First Name' %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name %>

      <div class="form-actions">
        <%= f.submit 'Add', :class => 'btn btn-primary' %>
      </div>
  </fieldset>
<% end %>
