<div id="tutorial" class="modal fade hide">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>4 Easy Steps - Quick Tutorial</h3>
  </div>
  <div class="modal-body">
    <div id="tutorial-slides" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><%= image_tag 'step1.png' %></div>
        <div class="item"><%= image_tag 'step2.png' %></div>
        <div class="item"><%= image_tag 'step3.png' %></div>
        <div class="item"><%= image_tag 'step4.png' %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#tutorial-slides" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#tutorial-slides" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to_unless_current 'MapBadger', root_path, :class => 'brand' %> 
      <ul class="nav">
        <%= nav_li 'Home', territories_path %>
        <%= nav_li 'Upload Accounts', upload_opportunities_path %>
        <%= nav_li 'Upload Teams', upload_representatives_path %>
      </ul>
      <%=  form_tag contact_path, :remote => :true, :id => 'wish-box', :class => 'navbar-search' do %>
        <%= text_field_tag :message, nil, :class => 'search-query', :placeholder => 'I wish this page would...' %>
      <% end %>
      <ul class="nav pull-right">
        <li><a data-toggle="modal" data-backdrop="true" data-keyboard="true" href="#tutorial">Help</a></li>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>
</div> <!-- end topbar -->
