<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to_unless_current 'MapBadger', root_path, :class => 'brand' %> 
      <ul class="nav">
        <%= nav_li 'Home', territories_path %>
        <%= nav_li 'Upload Accounts', upload_opportunities_path %>
        <%= nav_li 'Upload Teams', upload_representatives_path %>
      </ul>
      <%=  form_tag contact_path, :remote => :true, :id => 'wish-box', :class => 'navbar-search' do %>
        <%= text_field_tag :message, nil, :class => 'search-query', :placeholder => 'I wish this page would...' %>
      <% end %>
      <ul class="nav pull-right">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>
</div> <!-- end topbar -->
