<h1>Admin CSV Upload</h1>

<div class="well">
  <%= form_tag admin_opportunities_import_path, :multipart => true do %>
    <fieldset>
      <legend>Upload Account Records</legend>
      <%= label_tag :company_id, 'Company' %>
      <%= select_tag :company_id, options_from_collection_for_select(Company.all, :id, :company_name), :include_blank => true %>
      <p class="help-block">Upload CSV files that contain addresses of businesses that you want to view on the territory map. Only .CSV files with the following columns will upload properly: Name, StreetAddress, City, State, ZipCode, Latitude, Longitude</p>
      <%= file_field_tag :csv, :class => 'input-file' %>
      <div class="form-actions">
        <%= submit_tag 'Import', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>
</div>
