<%= form_for(@opportunity) do |f| %>
  <% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
      <% @opportunity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <legend>Individual Opportunity</legend>
      <%= f.label :name, 'Prospect Name' %>
      <%= f.text_field :name %>
      
      <%= f.label :address1, 'Address 1' %>
      <%= f.text_field :address1 %>

      <%= f.label :address2, 'Address 2' %>
      <%= f.text_field :address2 %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.select :state, [[ "Select a State", "" ]] + State::NAMES %>

      <%= f.label :zipcode, 'Zip Code' %>
      <%= f.text_field :zipcode %>

      <div class="form-actions">
        <%= f.submit 'Add', :class => 'btn btn-primary' %>
      </div>
  </fieldset>
<% end %>
