<h1>New account</h1>

<div class="well">
  <%= form_for @csv, :url => import_opportunities_path do |f| %>
    <fieldset>
      <legend>Upload Account Records</legend>
      <p class="help-block">Upload CSV and you will be notified when it has finished processing. If you have lat/lng data available to import you many use the <%= link_to 'Advanced Import', advanced_opportunities_path %> for immediate usage.</p>
      <%= f.file_field :file, :class => 'input-file' %>
      <div class="form-actions">
        <%= f.submit 'Import', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class="well">
  <%= render 'form' %>
</div>
