<h1>New account</h1>

<ul class="nav nav-tabs">
  <%= tab_li 'Opportunities', import_opportunities_path %>
  <%= tab_li 'Teams', import_representatives_path %>
</ul>
<div class="well">
  <%= form_for :upload do |f| %>
    <fieldset>
      <legend>Opportunity File Import</legend>
      <%= f.file_field :csv, :class => 'input-file' %>
      <p class="help-block">Only .CSV files with the following columns: Name, StreetAddress, City, State, ZipCode, Latitude, Longitude</p>
      <div class="form-actions">
        <%= f.submit 'Import', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class="well">
  <%= render 'form' %>
</div>
