<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
  <!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
    <!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
      <!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
        <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
          <head>
            <meta charset="utf-8">

            <title>Mapbadger</title>
            <%= stylesheet_link_tag    "application" %>
            <%= javascript_include_tag "application" %>
            <%= csrf_meta_tags %>
          </head>
          <body>
            <div class="topbar">
              <div class="fill">
                <div class="container">
                  <%= link_to_unless_current 'MapBadger', root_path, :class => 'brand' %> 
                  <ul class="nav">
                    <li><%= link_to_unless_current 'Home', territories_path %></li>
                    <li><%= link_to_unless_current 'Import', import_opportunities_path %></li>
                    <li><%= link_to 'Settings', '#' %></li>
                  </ul>
                </div>
              </div>
            </div> <!-- end topbar -->

            <div class="container">
              <div class="content">
                <%= yield %>
              </div>
            </div>
          </body>
        </html>


